[submodule "DoctestTestAdapter.Examples/ThirdParty/doctest"]
	path = DoctestTestAdapter.Examples/ThirdParty/doctest
	url = https://github.com/doctest/doctest.git
[submodule "DoctestTestAdapter.Examples.Godot"]
	path = DoctestTestAdapter.Examples.Godot
	url = https://github.com/godotengine/godot.git
